<%# app/views/paints/search.turbo_stream.erb %>
<%= turbo_stream.replace "search-results" do %>
  <div id="search-results" class="mt-4 space-y-2 max-h-80 overflow-y-auto">
    <% if @paints.any? %>
      <% @paints.each do |paint| %>
        <% 
          # Create a virtual UserPaint object for each paint
          # If the user already has this paint in their collection, use that
          user_paint = if @user_paint_ids&.include?(paint.id)
                        current_user.user_paints.find_by(paint_id: paint.id)
                      else
                        UserPaint.new(paint: paint, user: current_user, virtual: true)
                      end
        %>
        <div id="search-result-<%= paint.id %>" class="search-result-item mb-2">
          <%= render "paints/search_result", user_paint: user_paint %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center py-4 text-base-content/70">No paints found matching "<%= params[:query] %>"</p>
    <% end %>
  </div>
<% end %>
